.App {
  text-align: center;
  font-family: "Roboto";

  background-image: url("https://the-weather-forecasting.netlify.app/static/media/bg.e0d46b6d28d5c7baa29c.png");
}

@media (min-width: 640px) {
  .App {
    box-shadow: rgba(200, 200, 200, 0.3) 0px 1px 2px 0px,
      rgba(200, 200, 200, 0.15) 0px 1px 3px 1px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
